DriversApp_Debug(5feb)/DriversApp/wcf/wcf/Service References/ServiceReference1/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9411/AccountService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>