DriversApp_Debug(5feb)/DriversApp/driversapp/Service References/WebserviceRef/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9411/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.DataModels" />
  <xs:import schemaLocation="http://localhost:9411/WebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF" />
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdmins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllAdminsResult" nillable="true" type="q2:ArrayOfAdministrator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCyclus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCyclusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllCyclusResult" nillable="true" type="q3:ArrayOfCyclus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCyclusbladenPerVariant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCyclusbladenPerVariantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllCyclusbladenPerVariantResult" nillable="true" type="q4:ArrayOfCyclusbladenPerVariant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q5:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsOpvolging">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsOpvolgingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllEventsOpvolgingResult" nillable="true" type="q6:ArrayOfEventsOpvolging" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsPerCyclusblad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsPerCyclusbladResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllEventsPerCyclusbladResult" nillable="true" type="q7:ArrayOfEventsPerCyclusblad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNiveaus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNiveausResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllNiveausResult" nillable="true" type="q8:ArrayOfNiveaus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPloegen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPloegenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllPloegenResult" nillable="true" type="q9:ArrayOfPloegen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProceduresPerWagen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProceduresPerWagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllProceduresPerWagenResult" nillable="true" type="q10:ArrayOfProceduresPerWagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoordinaten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoordinatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllCoordinatenResult" nillable="true" type="q11:ArrayOfPuntenPerBaan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTemplatesResult" nillable="true" type="q12:ArrayOfTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestbanen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestbanenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTestbanenResult" nillable="true" type="q13:ArrayOfTestbaan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestchauffeurPerCyclus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestchauffeurPerCyclusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTestchauffeurPerCyclusResult" nillable="true" type="q14:ArrayOfTestchauffeurPerCyclus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestChauffeurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestChauffeursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTestChauffeursResult" nillable="true" type="q15:ArrayOfTestChauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestProcedures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestProceduresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTestProceduresResult" nillable="true" type="q16:ArrayOfTestProcedure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestWagens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestWagensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllTestWagensResult" nillable="true" type="q17:ArrayOfTestwagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVarianten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVariantenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllVariantenResult" nillable="true" type="q18:ArrayOfVarianten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVersies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVersiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCF.DataModels" minOccurs="0" name="GetAllVersiesResult" nillable="true" type="q19:ArrayOfVersie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="eventStatus" nillable="true" type="q20:EventStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEventStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoltooid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="evnt" nillable="true" type="q21:EventStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoltooidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVoltooidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>